.flex-all-center{
display: flex;
justify-content: center;
align-items: center;
}
.btn{
padding: 5px 10px;
color: white;
background: var(--main-bg-color);
border: solid white;
border-radius: 5px;
cursor: pointer;
font-family: 'Montserrat', sans-serif;

}
.my-2{
    margin: 15px 0;
}
.my-1{
    margin: 5px 0;
}
.text-center{
    text-align: center;
}